.theme-baklava7 .button:not(.button-fill) {
    border-color: #788F00;
  }
  html:not(.watch-active-state) .theme-baklava7 .button:not(.button-fill):active,
  .theme-baklava7 .button:not(.button-fill).active-state {
    background-color: rgba(120, 143, 0, 0.15);
  }
  .theme-baklava7 .button:not(.button-fill).active {
    background-color: #788F00;
    color: #fff;
  }
  .theme-baklava7 .button.button-fill {
    background: #788F00;
    color: #fff;
  }
  .progressbar.theme-baklava7 span,
  .theme-baklava7 .progressbar span {
    background-color: #788F00;
  }
  .progressbar-infinite.theme-baklava7:before,
  .theme-baklava7 .progressbar-infinite:before {
    background-color: #788F00;
  }
  .theme-baklava7 i.icon,
  i.icon.theme-baklava7 {
    color: #788F00;
  }
  i.icon-next.color-baklava7,
  i.icon-next.theme-baklava7,
  .theme-baklava7 i.icon-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23788F00'%20d%3D'M1%2C1.6l11.8%2C5.8L1%2C13.4V1.6%20M0%2C0v15l15-7.6L0%2C0L0%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  i.icon-prev.color-baklava7,
  i.icon-prev.theme-baklava7,
  .theme-baklava7 i.icon-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23788F00'%20d%3D'M14%2C1.6v11.8L2.2%2C7.6L14%2C1.6%20M15%2C0L0%2C7.6L15%2C15V0L15%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  i.icon-back.color-baklava7,
  i.icon-back.theme-baklava7,
  .theme-baklava7 i.icon-back {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23788F00'%2F%3E%3C%2Fsvg%3E");
  }
  i.icon-forward.color-baklava7,
  i.icon-forward.theme-baklava7,
  .theme-baklava7 i.icon-forward {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M2%2C20l-2-2l8-8L0%2C2l2-2l10%2C10L2%2C20z'%20fill%3D'%23788F00'%2F%3E%3C%2Fsvg%3E");
  }
  i.icon-bars.color-baklava7,
  i.icon-bars.theme-baklava7,
  .theme-baklava7 i.icon-bars {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2021%2014'%3E%3Cpath%20fill%3D'%23788F00'%20d%3D'M0%2C0h2v2H0V0z%20M4%2C0h17v1H4V0z%20M0%2C6h2v2H0V6z%20M4%2C6h17v1H4V6z%20M0%2C12h2v2H0V12z%20M4%2C12h17v1H4V12z'%2F%3E%3C%2Fsvg%3E");
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    i.icon-bars.color-baklava7,
    i.icon-bars.theme-baklava7,
    .theme-baklava7 i.icon-bars {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2042%2026'%3E%3Cpath%20fill%3D'%23788F00'%20d%3D'M0%2C0h4v4H0V0z%20M8%2C1h34v2H8V1z%20M0%2C11h4v4H0V11z%20M8%2C12h34v2H8V12z%20M0%2C22h4v4H0V22z%20M8%2C23h34v2H8V23z'%2F%3E%3C%2Fsvg%3E");
    }
  }
  .theme-baklava7 a,
  .theme-baklava7 .item-link.list-button,
  .theme-baklava7 .list-button {
    color: #788F00;
  }
  .theme-baklava7 .tabbar a,
  .tabbar.theme-baklava7 a,
  .theme-baklava7 .tabbar a i,
  .tabbar.theme-baklava7 a i {
    color: inherit;
  }
  .theme-baklava7 .tabbar a.active,
  .tabbar.theme-baklava7 a.active,
  .theme-baklava7 .tabbar a.active i,
  .tabbar.theme-baklava7 a.active i {
    color: #788F00;
  }
  .theme-baklava7 .messagebar .messagebar-send-link {
    background-color: #788F00;
  }
  .theme-baklava7 label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
  .theme-baklava7 label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox,
  .theme-baklava7 .form-checkbox input[type="checkbox"]:checked ~ i,
  label.label-checkbox.theme-baklava7 input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
  label.label-checkbox.theme-baklava7 input[type="radio"]:checked + .item-media i.icon-form-checkbox,
  .form-checkbox.theme-baklava7 input[type="checkbox"]:checked ~ i {
    background-color: #788F00;
  }
  .theme-baklava7 .form-radio input[type="radio"]:checked ~ i,
  .theme-baklava7 label.label-radio input[type="checkbox"]:checked ~ .item-inner,
  .theme-baklava7 label.label-radio input[type="radio"]:checked ~ .item-inner,
  .form-radio.theme-baklava7 input[type="radio"]:checked ~ i,
  label.label-radio.theme-baklava7 input[type="checkbox"]:checked ~ .item-inner,
  label.label-radio.theme-baklava7 input[type="radio"]:checked ~ .item-inner {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2010'%3E%3Cpolygon%20fill%3D'%23788F00'%20points%3D'11.6%2C0%204.4%2C7.2%201.4%2C4.2%200%2C5.6%204.4%2C10%204.4%2C10%204.4%2C10%2013%2C1.4%20'%2F%3E%3C%2Fsvg%3E");
  }
  .theme-baklava7 .picker-calendar-day.picker-calendar-day-selected span {
    background-color: #788F00 !important;
  }
  .theme-baklava7 .data-table .data-table-header-selected,
  .data-table.theme-baklava7 .data-table-header-selected {
    background: rgba(120, 143, 0, 0.1);
  }
  .theme-baklava7 .data-table .data-table-title-selected,
  .data-table.theme-baklava7 .data-table-title-selected {
    color: #788F00;
  }
  .swiper-pagination.color-baklava7 .swiper-pagination-bullet-active,
  .theme-baklava7 .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #788F00;
  }
  .swiper-pagination.color-baklava7 .swiper-pagination-progressbar,
  .theme-baklava7 .swiper-pagination .swiper-pagination-progressbar {
    background-color: #788F00;
  }
  .swiper-pagination.swiper-pagination-progress.bg-baklava7 {
    background-color: rgba(120, 143, 0, 0.25);
  }
  .swiper-button-next.color-baklava7,
  .swiper-container-rtl .swiper-button-prev.color-baklava7,
  .theme-baklava7 .swiper-button-next,
  .theme-baklava7 .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23788F00'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-prev.color-baklava7,
  .swiper-container-rtl .swiper-button-next.color-baklava7,
  .theme-baklava7 .swiper-button-prev,
  .theme-baklava7 .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23788F00'%2F%3E%3C%2Fsvg%3E");
  }
  .theme-baklava7 .floating-button,
  .theme-baklava7 .speed-dial-buttons a,
  .floating-button.theme-baklava7,
  .speed-dial-buttons a.theme-baklava7 {
    color: #fff;
    background: #788F00;
  }
  html:not(.watch-active-state) .theme-baklava7 .floating-button:active,
  html:not(.watch-active-state) .theme-baklava7 .speed-dial-buttons a:active,
  html:not(.watch-active-state) .floating-button.theme-baklava7:active,
  html:not(.watch-active-state) .speed-dial-buttons a.theme-baklava7:active,
  .theme-baklava7 .floating-button.active-state,
  .theme-baklava7 .speed-dial-buttons a.active-state,
  .floating-button.theme-baklava7.active-state,
  .speed-dial-buttons a.theme-baklava7.active-state {
    background: #557800;
  }
  .theme-baklava7 .floating-button i,
  .theme-baklava7 .speed-dial-buttons a i,
  .floating-button.theme-baklava7 i,
  .speed-dial-buttons a.theme-baklava7 i {
    color: inherit;
  }
  .theme-baklava7 .range-slider input[type="range"]::-webkit-slider-thumb:before,
  .range-slider.theme-baklava7 input[type="range"]::-webkit-slider-thumb:before {
    background-color: #788F00;
  }
  .theme-baklava7 .range-slider input[type="range"]::-ms-fill-lower,
  .range-slider.theme-baklava7 input[type="range"]::-ms-fill-lower {
    background-color: #788F00;
  }
  .badge.theme-baklava7 {
    background-color: #788F00;
    color: #fff;
  }
  .color-baklava7 {
    color: #788F00;
  }
  .list-block .item-link.list-button.color-baklava7,
  .list-button.color-baklava7,
  .tabbar a.active.color-baklava7,
  a.color-baklava7 {
    color: #788F00;
  }
  .label-switch input[type="checkbox"]:checked + .checkbox.color-baklava7,
  .label-switch.color-baklava7 input[type="checkbox"]:checked + .checkbox {
    background-color: #788F00;
  }
  .color-baklava7.button:not(.button-fill),
  .color-baklava7.buttons-row .button {
    border-color: #788F00;
  }
  html:not(.watch-active-state) .color-baklava7.button:not(.button-fill):active,
  html:not(.watch-active-state) .color-baklava7.buttons-row .button:active,
  .color-baklava7.button:not(.button-fill).active-state,
  .color-baklava7.buttons-row .button.active-state {
    background-color: rgba(120, 143, 0, 0.15);
  }
  .color-baklava7.button:not(.button-fill).active,
  .color-baklava7.buttons-row .button.active {
    background-color: #788F00;
    color: #fff;
  }
  .button.button-fill.color-baklava7 {
    background: #788F00;
    color: #fff;
  }
  .progressbar.color-baklava7 span,
  .progressbar.bg-baklava7 span {
    background-color: #788F00;
  }
  .progressbar-infinite.color-baklava7:before,
  .progressbar-infinite.bg-baklava7:before {
    background-color: #788F00;
  }
  .color-baklava7 i.icon,
  i.icon.color-baklava7 {
    color: #788F00;
  }
  .preloader.color-baklava7,
  .preloader.preloader-baklava7 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23788F00'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  .bg-baklava7,
  .button.button-fill.bg-baklava7,
  a.bg-baklava7,
  .list-block .swipeout-actions-left a.bg-baklava7,
  .list-block .swipeout-actions-right a.bg-baklava7 {
    background-color: #788F00;
  }
  .border-baklava7 {
    border-color: #788F00;
  }
  .list-block .border-baklava7.item-inner:after,
  .list-block ul.border-baklava7:after,
  .border-baklava7:after,
  .list-block .border-baklava7.item-inner:before,
  .list-block ul.border-baklava7:before,
  .border-baklava7:before {
    background-color: #788F00;
  }
  .floating-button.color-baklava7,
  .speed-dial-buttons a.color-baklava7,
  .floating-button.bg-baklava7,
  .speed-dial-buttons a.bg-baklava7 {
    color: #fff;
    background: #788F00;
  }
  html:not(.watch-active-state) .floating-button.color-baklava7:active,
  html:not(.watch-active-state) .speed-dial-buttons a.color-baklava7:active,
  html:not(.watch-active-state) .floating-button.bg-baklava7:active,
  html:not(.watch-active-state) .speed-dial-buttons a.bg-baklava7:active,
  .floating-button.color-baklava7.active-state,
  .speed-dial-buttons a.color-baklava7.active-state,
  .floating-button.bg-baklava7.active-state,
  .speed-dial-buttons a.bg-baklava7.active-state {
    background: #557800;
  }
  .floating-button.color-baklava7 i,
  .speed-dial-buttons a.color-baklava7 i,
  .floating-button.bg-baklava7 i,
  .speed-dial-buttons a.bg-baklava7 i {
    color: inherit;
  }
  .range-slider.color-baklava7 input[type="range"]::-webkit-slider-thumb:before {
    background-color: #788F00;
  }
  .range-slider.color-baklava7 input[type="range"]::-ms-fill-lower {
    background-color: #788F00;
  }
  .badge.color-baklava7 {
    background-color: #788F00;
    color: #fff;
  }